<ion-view view-title="{{bag.title}}">
  <ion-content>
    <ion-list>
      <ion-item class="item item-thumbnail-left" data-ng-repeat="product in bag.products" type="item-text-wrap">
        <img ng-src="{{product.image}}">
        <h2>{{product.name}}</h2>
        <p>{{product.salePrice}}</p>
      </ion-item>
    </ion-list>
    <div data-ng-if="bag.showCancel" class="button-bar">
      <button class="button button-block button-dark" data-ng-click="bag.cancel()">
        Cancel
      </button>
    </div>
    <div data-ng-if="!bag.showCancel" class="button-bar">
      <button class="button button-block button-assertive" data-ng-click="bag.destroy()">
        Destroy
      </button>
      <button class="button button-block button-balanced" data-ng-click="bag.request()">
        Request
      </button>
    </div>
  </ion-content>
</ion-view>